<div class='container'>
  <div class='row m0'>
    <div class="col-lg-12 col-md-12 p-0">
      <div class="form-group">
        <label for="multiplex_id">Select Multiplex:</label>
        <%= f.select :multiplex_id, multiplexes.pluck(:name, :id), { include_blank: 'Select a Multiplex' }, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <label for="name">Enter Screen Name:</label>
        <%= f.text_field :name, class: 'form-control mb-2', required:true %>
      </div>
      <div class="form-group">
        <label for="screen_type">Enter Screen Type:</label>
        <%= f.text_field :screen_type, class: 'form-control mb-2', required:true %>
      </div>
      <div class='screens_fields'>
        <% if @screen.seats.present? %>
          <div class="add_fields_btn">
            <% @screen.seats.each_with_index do |screen, index| %>
              <%= f.fields_for :seats, screen do |builder| %>
                <%= render partial: "seats_fields", locals: { f: builder, new_record: @screen.new_record? } %>
                  <% if @screen.seats.length == (index + 1) %>
                    <legend>Add More: <%= render partial: "new_seats", locals: { f: f } %></legend>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <legend>Add Seats: <%= render partial: "new_seats", locals: { f: f } %></legend>
          <div class='add_fields_btn'>
            <%= f.fields_for(:seats, Seat.new) do |builder|%>
              <%= render 'seats_fields', f: builder, new_record: true %> 
            <% end%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='row pt-4'>
    <div class='col-lg-12 col-md-12 p-0'>
      <%= f.submit 'Submit', class: 'btn btn-success', id: "submit-button" %>
    </div>
  </div>
</div>